html, body {
    margin: 0;
    padding: 0;
    background-color: #1f2336;
    width: 100%;
    height: 100%;
}
p {
    color: #c2c0bd;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
li {
    color: #c2c0bd;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(49,53,82,.25);
    z-index: 999;
    flex-flow: row nowrap;
}
.visible-title {
    visibility: visible;
}