header {
    width: 100%;
}
.nav-menu {
    min-height: 56px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.nav-center {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item {
    list-style: none;
    float: left;
    text-transform: uppercase;
    padding: 0 20px;
    position: relative;
}
.nav-item a {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.nav-item a:hover:after {
    width: 100%;
    left: 0;
}
.nav-item a:after {
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FFC576;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.active a {
    color: #FFC576;
}
.nav-item a:hover {
    text-decoration: none;
    color: #FFC576;
    transition: all .5s ease-out;
}
.img-logo {
    float: left;
}
#logo {
    max-width: 150px;
    height: auto;
}
.menu {
    display: flex;
}
.content {
    margin-top: 200px;
    height: 500px;
    background: url("../img/background-top.png") no-repeat;
    position: relative;
}
.img-corner {
    position: absolute;
    left: 10%;
    top: -25%;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rectangle {
    position: absolute;
    right: 40%;
    top: -20%;
    animation: lg-xy-move 15s alternate infinite linear;
}

@keyframes lg-xy-move {
    from { left: 60%; } to { left: 50%; }
}
.group-26__left {
    position: absolute;
    right: 30%;
    top: 50%;
    animation: right-to-left 12s alternate infinite linear;
}
@keyframes right-to-left {
    from { right: 40%; } to { right: 30%; }
}
.group-26__right {
    position: absolute;
    right: 10%;
    top: 0;
    animation: left-to-right 12s alternate infinite linear;
}
@keyframes left-to-right {
    from { right: 10%; } to { right: 30%; }
}
.top-title {
    font-family: "HK Grotesk", Sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #ffc576;
    text-align: center;
}
.title {
    font-size: 90px;
    line-height: 100px;
    color: #ffffff;
    margin: 15px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.desc {
    font-family: "HK Grotesk", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.text-about {
    text-align: center;
    color: #dee3 !important;
    font-weight: 600;
    font-size: 8.25rem;
}
.about-description {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}
.summary {
    width: 70%;
}
.summary-hi, .name {
    font-size: 1.75rem;
    font-weight: 600;
    color: #ffffff;
}
.name, .mail-to {
    color: #20c997;
    text-decoration: none;
}
.contact-info li {
    list-style-type: none;
    border-bottom: 1px solid #eaeaea;
    padding-top: 12px;
    padding-bottom: 12px;
}
.rounded-pill {
    color: #fff;
    background-color: #20c997;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.5s ease;
    border-width: 2px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 1rem;
}