@media only screen and (max-width: 1200px) {
    .content {
        margin-top: 50px;
    }
    .summary {
        margin-left: 3%;
    }
    .contact-info {
        margin-right: 3%;
    }
}
@media only screen and (min-width: 1440px) {
    .about-description {
        width: 60%;
        margin: auto;
    }
    .edu-ex {
        width: 60%;
    }
}